<table class="invoice section"
    ng-class="{voided:invoice.isVoided}">
    <tr class="row">
        <td class="cell linkCol" ng-hide="invoice.hideActions || bulkEditAction">
            <div>
                <a class="text-link"
                    ng-click="copyInvoice($index+1, invoice)">
                    Copy
                </a>
                <span ng-hide="isSummary || invoice.ignoreUpdates"> | </span>
                    <a class="text-link"
                        ng-click="voidInvoice(invoice)"
                        ng-hide="isSummary || invoice.ignoreUpdates">
                        {{invoice.isVoided ? 'Unvoid' : 'Void'}}
                    </a>
                <span ng-hide="isSummary"> | </span>
                <a class="text-link"
                    ng-class="{'disabled': invoice.id != null && approvalStatus.value == 'Approved'}"
                    ng-click="deleteInvoice(invoice); setAllRPRequiredFields();">
                    Delete
                </a>
            </div>
        </td>
        <td ng-hide="isSummary">
            <table class="invoice section innerSection">
                <tr class="row" ng-hide = "bulkEditAction">
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.invoiceUrl.label}}
                    </td>
                    <td class="cell valueCol">
                        <text-field field="invoice.invoiceUrl"
                            readonly="true"/>
                    </td>
                    <td class="cell labelCol vfLabelColTextWrap" ng-hide="bulkEditAction">
                        Commission
                    </td>
                    <td class="cell valueCol">
                        <div class="aptoField commissionInputContainer">
                            <div>
                                <input type="text"
                                    ng-model="invoice.commissionPercent.value"
                                    ng-disabled="!invoice.useCommissionPercent || invoice.isVoided"
                                    ng-change="calculateCommissionAmount(invoice)"
                                    ng-blur="calculateCommissionPercent(invoice)"
                                    placeholder="{{::labels.percent}}"
                                    min="0"
                                    max="100"
                                    restrict-decimals="5"/>
                            </div>

                            <div class="radioToggleContainer">
                                <fieldset ng-disabled="isSummary || invoice.isVoided">
                                    <div>
                                        <input id="commissionPercent{{$index}}"
                                            type="radio"
                                            ng-model="invoice.useCommissionPercent"
                                            ng-value="true"
                                            ng-click="calculateCommissionAmount(invoice, true)"/>
                                        <label for="commissionPercent{{$index}}">
                                            %
                                        </label>
                                    </div>
                                    <div>
                                        <input id="commissionAmount{{$index}}"
                                            type="radio"
                                            ng-model="invoice.useCommissionPercent"
                                            ng-value="false"
                                            ng-click="calculateCommissionPercent(invoice, true)"/>
                                        <label for="commissionAmount{{$index}}">
                                            {{::totalCommission.currencyIsoCode}}
                                        </label>
                                    </div>
                                </fieldset>
                            </div>

                            <div>
                                <input type="text"
                                    ng-model="invoice.commissionAmount.value"
                                    ng-disabled="invoice.useCommissionPercent || invoice.isVoided"
                                    ng-change="calculateCommissionPercent(invoice)"
                                    ng-blur="calculateCommissionAmount(invoice)"
                                    placeholder="{{::labels.amount}}"
                                    restrict-decimals="2"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td class="cell labelCol vfLabelColTextWrap"
                        ng-hide="isSummary">
                        {{::invoice.useDefaultValues.label}}
                    </td>
                    <td class="cell valueCol"
                        ng-hide="isSummary">
                        <boolean-field field="invoice.useDefaultValues"
                            disabled="invoice.isVoided"
                            on-field-change="setDefaultInvoiceValues(invoice)"/>
                    </td>
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.trustAmount.label}}
                    </td>
                    <td class="cell valueCol">
                        <text-field field="invoice.trustAmount"
                            readonly="isSummary || invoice.isVoided"
                            precision="2"/>
                    </td>
                </tr>
                <tr class="row">
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.aptoBillTo.label}}
                    </td>
                    <td class="cell valueCol">
                        <lookup-field field="invoice.aptoBillTo"
                            readonly="isSummary || invoice.isVoided || invoice.useDefaultValues.value"
                            on-field-change="setInvoiceBillToAddressFromAccount(invoice, invoice.aptoBillTo.value)"/>
                    </td>
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.trustAmountPaid.label}}
                    </td>
                    <td class="cell valueCol">
                        <text-field field="invoice.trustAmountPaid"
                            readonly="isSummary || invoice.isVoided"
                            precision="2"/>
                    </td>
                </tr>
                <tr class="row">
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.nsBillTo.label}}
                    </td>
                    <td class="cell valueCol" ng-class="{'rpRequired': !invoice.nsBillTo.displayValue && showRPDealWizard}">
                        <netsuite-search-field field="invoice.nsBillTo"
                            readonly="isSummary || invoice.isVoided || invoice.useDefaultValues.value"
                            disable-search="invoice.useDefaultValues.value"
                            is-vendor="true"
                            endpoint="getNetSuiteData.getCustomersLong"
                            broker-id="primaryBroker.broker.value"
                            require-broker="true"
                            require-broker-msg="Unknown Subsidiary - have you identified a Primary Broker on the Parties page?"
                            on-field-change="setInvoiceBillToAddress(invoice, invoice.nsBillTo.formattedAddress); setAllRPRequiredFields();"/>
                    </td>
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.taxGroup.label}}
                    </td>
                    <td class="cell valueCol">
                         <picklist-field field="invoice.taxGroup" disabled="enableTaxGroup(invoice)" readonly="isSummary || invoice.isVoided || invoice.useDefaultValues.value"/>
                    </td>
                </tr>
                <tr class="row">
                    <td class="cell labelCol vfLabelColTextWrap addressLabel2"
                        rowspan="2">
                        {{::invoice.billToAddress.label}}
                    </td>
                    <td class="cell valueCol"
                        rowspan="2">
                        <textarea-field field="invoice.billToAddress"
                                        multiline="true"
                                        readonly="invoice.nsBillTo.value"/>
                    </td>
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.dueUpon.label}}
                    </td>
                    <td class="cell valueCol">
                        <picklist-field field="invoice.dueUpon"
                        readonly="isSummary || invoice.isVoided"/>
                    </td>
                </tr>
                <tr class="row">
                    <td class="cell labelCol vfLabelColTextWrap" ng-hide="bulkEditAction">
                        {{::invoice.estimatedInvoiceDate.label}}
                    </td>
                    <td class="cell valueCol" ng-hide="bulkEditAction">
                        <date-field field="invoice.estimatedInvoiceDate"
                            pair-field="invoice.specificInvoiceDate"
                            pair-type="either"
                            readonly="isSummary || invoice.isVoided"
                            hide-today-date="true"
                            />
                    </td>
                </tr>
                <tr class="row">
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.attention.label}}
                    </td>
                    <td class="cell valueCol">
                        <text-field field="invoice.attention"
                            readonly="isSummary || invoice.isVoided || invoice.useDefaultValues.value"/>
                    </td>
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.specificInvoiceDate.label}}
                    </td>
                    <td class="cell valueCol">
                        <date-field field="invoice.specificInvoiceDate"
                            pair-field="invoice.estimatedInvoiceDate"
                            pair-type="either"
                            readonly="isSummary || invoice.isVoided"
                            hide-today-date="true"/>
                    </td>
                </tr>
                <tr class="row">
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.paymentTerms.label}}
                    </td>
                    <td class="cell valueCol">
                        <picklist-field field="invoice.paymentTerms"
                            readonly="isSummary || invoice.isVoided || invoice.useDefaultValues.value"
                            sans-none="true"/>
                    </td>
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.recognizeRevenue.label}}
                    </td>
                    <td class="cell valueCol">
                        <picklist-field field="invoice.recognizeRevenue"
                            readonly="isSummary || invoice.isVoided"/>
                    </td>
                </tr>
                <tr class="row">
                    <td class="cell labelCol vfLabelColTextWrap">
                        {{::invoice.invoiceTemplate.label}}
                    </td>
                    <td class="cell valueCol">
                        <picklist-field field="invoice.invoiceTemplate"
                            readonly="isSummary || invoice.isVoided || invoice.useDefaultValues.value"
                            sans-none="true"/>
                    </td>
                    <td class="cell labelCol vfLabelColTextWrap"
                        ng-hide="isSummary">
                        {{::invoice.isPrinted.label}}
                    </td>
                    <td class="cell valueCol"
                        ng-hide="isSummary">
                        <boolean-field field="invoice.isPrinted"
                            disabled="true"/>
                    </td>
                </tr>
                <tr class="row">
                    <td class="cell labelCol vfLabelColTextWrap" ng-hide="bulkEditAction">
                        {{::invoice.notes.label}}
                    </td>
                    <td class="cell valueCol"
                        rowspan="6">
                        <textarea-field field="invoice.notes"
                            multiline="true"
                            rows="5"
                            readonly="isSummary || invoice.isVoided"/>
                    </td>
                </tr>
                <tr class="row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="row">
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>