div#notifications{
    min-height: 20px;
    background: #ffffcc ; 
    border-style: solid; 
    border-color: #c00;
    border-radius: 5px; 
    border-width: 1px;
    position: relative;
    display: block;
    width: 100%;
    
}
