#entityList
{
    margin: 0;
    padding: 0; 
}
#entityList li
{
    list-style: none;
    margin: 0;
    padding: 0;
}
#jobTable{
    width: 100%;
}
#jobTable a
{
    cursor: pointer;
    text-decoration: none;
}
.hidden-elem
{
    display: none;
}
.action.button
{
    background-color: #007bb4 !important;
    background-image: none !important;
    color: white !important;
    border: 1px solid #007bb4 !important;
    font-color: #FFFFFF !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    font: arial 12px !important;
    font-weight: normal !important;
}